{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'streaming' %}

{% set body_class = 'mypage' %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block stylesheet %}
    <link href="http://vjs.zencdn.net/5.19.1/video-js.css" rel="stylesheet">
{% endblock stylesheet %}

{% block javascript %}
    <script src="http://vjs.zencdn.net/5.19.1/video.js"></script>
    <script>
        // 表示件数を変更
        function fnChangeDispNumber(dispNumber) {
            $("#page_navi_top").submit();
        }

        function  fnIconClick(productId) {
            var className =  $("#favorite_product_" + productId).attr("icon");
            if (className == 'addIcon') {
                $("#favorite_product_" + productId + " .btn_circle").css("backgroundColor", "whitesmoke");
                $("#favorite_product_" + productId + " .btn_circle .cb-heart").css("color", "red");
                $("#favorite_product_" + productId).attr("icon", "removeIcon");
            } else {
                $("#favorite_product_" + productId + " .btn_circle").css("backgroundColor", "#B8BEC4");
                $("#favorite_product_" + productId + " .btn_circle .cb-heart").css("color", "#fff");
                $("#favorite_product_" + productId).attr("icon", "addIcon");
            }

            $.ajax({
                type: 'POST',
                data: {
                    'product_id' : productId,
                    'mode' : className
                },
                url: '{{ url('streaming_favorite') }}',
                success: function(data) {

                },
                error: function() {
                    console.log('ajax failed');
                }
            });
        }

        function fnImageClick(image, productId) {
            $("#modal-image").attr("src", "{{ app.config.image_save_urlpath }}" + "/" + image);
            $("#hd_button").attr("product_id", productId);
            $("#sd_button").attr("product_id", productId);
            var category = $("#category_box"+productId).html();
            $("#relative_category_box").append(category);
        }

        $(function(){
            $(".heart").change(function () {
                $("#page_navi_top").submit();
            });

            $('#hd_button').click(function() {
                var product_id = $(this).attr("product_id");
                window.open('{{ url('mypage_video') }}?product_id=' + product_id,"WindowName","width=700,height=400");
                return false;
            });

            $('#sd_button').click(function() {
                var product_id = $(this).attr("product_id");
                window.open('{{ url('mypage_video_sd') }}?product_id=' + product_id,"WindowName","width=700,height=400");
                return false;
            });
        });

        // 商品表示BOXの高さを揃える
        $(window).load(function() {
            $('.product_item').matchHeight();
        });
    </script>
{% endblock %}

{% block main %}
    <h1 class="page-heading">マイページ/ストリーミング動画</h1>
    <div id="favorite_wrap" class="container-fluid">
        {% include 'Mypage/navi.twig' %}
        <!-- ▲topicpath▲ -->
        <div id="result_info_box" class="row">
            <form name="page_navi_top" id="page_navi_top" action="?">
                <div id="search" class="col-sm-6 no-padding search">
                    <div class="input_search clearfix" style="padding: 0 10px 0 1em;">
                        <input type="search" id="name" name="name" maxlength="50" placeholder="動画名・動画情報" style="width: 50%;" value="{{ form.name.vars.value }}">
                        <select id="" name="orderby" onchange="javascript:fnChangeOrderBy(this.value);" class="form-control" style="max-width: 210px;">
                            <option value="4" {% if orderby == 4 %} selected {% endif %}>購入日が新しい順</option>
                            <option value="5" {% if orderby == 5 %} selected {% endif %}>購入日が古い順</option>
                        </select>
                        <button class="btn-danger btn" type="submit">更新</button>
                    </div>
                </div>

                <div id="result_info_box__menu_box" class="col-sm-6 no-padding col-sm-offset-6">
                    <ul id="result_info_box__menu" class="pagenumberarea clearfix">
                        <span style="color: red;">&hearts;</span>付き商品のみを
                        <li id="search" class="search" style="cursor: pointer;">
                            <input type="radio" name="heart" id="heart1" class="heart" autocomplete="off" {% if heart == 1 or heart is empty %} checked {% endif %} value="1" style="cursor: pointer;">
                            <label for="heart1">表示</label>
                            <input type="radio" name="heart" id="heart2" class="heart" autocomplete="off" {% if heart == 0 %} checked {% endif %} value="0" style="cursor: pointer;">
                            <label for="heart2">解除</label>
                            {{ form_widget(disp_number_form, {'id': '', 'attr': {'onchange': "javascript:fnChangeDispNumber(this.value);"}}) }}
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div id="favorite_list_box" class="row">
            <div id="favorite_list_box__body" class="col-md-12">
                {% if pagination.totalItemCount > 0 %}
                    <p id="favorite_lst__total_item_count" class="intro"><strong>{{ pagination.totalItemCount }}件</strong>のストリーミング動画があります。</p>
                    <div id="item_list">
                        <div id="favorite_list__list" class="row no-padding">
                            {% for Order in pagination %}
                                {% for OrderDetail in Order.OrderDetails %}
                                    {% set Product = OrderDetail.Product %}
                                    {% set flag = false %}
                                    {% set FavoriteProducts = Order.Customer.CustomerFavoriteProducts %}
                                    {% for Favorite in FavoriteProducts %}
                                        {% if Favorite.Product.id == Product.id and  Favorite.flag == 2 %}
                                            {% set flag = true %}
                                        {% endif %}
                                    {% endfor %}
                                    <div id="favorite__list--{{ Product.id }}" class="col-sm-3 col-xs-6">
                                        <div id="favorite_list__item--{{ Product.id }}" class="product_item">
                                            <a href="javascript:void(0)" onclick="fnImageClick('{{ Product.main_list_image|no_image_product }}', {{ Product.id }});" data-toggle="modal" data-target="#mymodel">
                                                <div id="favorite_list__image--{{ Product.id }}" class="item_photo">
                                                    <img src="{{ app.config.image_save_urlpath }}/{{ Product.main_list_image|no_image_product }}" alt="{{ Product.name }}"/>
                                                </div>
                                            </a>
                                            <a href="javascript:void(0)" onclick="fnIconClick({{ Product.id }});" id="favorite_product_{{ Product.id }}" {% if flag == true %} icon="removeIcon" {% else %} icon="addIcon" {% endif %}>
                                                <button type="button" class="btn_circle"  {% if flag == true %} style="background-color: whitesmoke;" {% endif %}><svg class="cb cb-heart" {% if flag == true %} style="color: red;" {% endif %}><use xlink:href="#cb-heart"></use></svg></button>
                                            </a>

                                            <dl id="favorite_list__detail--{{ Product.id }}">
                                                <dt id="favorite_list__name--{{ Product.id }}" class="item_name" style="height: 22px;"> {{ Product.name }}</dt>
                                            </dl>

                                        </div>
                                    </div>

                                    <div id="category_box{{ Product.id }}" class="relative_cat" style="clear:both;display: none">
                                        <p>関連カテゴリ</p>
                                        {% for ProductCategory in Product.ProductCategories %}
                                            <ol id="relative_category_box__relative_category--{{ ProductCategory.product_id }}_{{ loop.index }}">
                                                {% for Category in ProductCategory.Category.path %}
                                                    <li><a id="relative_category_box__relative_category--{{ ProductCategory.product_id }}_{{ loop.parent.loop.index }}_{{ Category.id }}" href="{{ url('product_list') }}?category_id={{ Category.id }}">{{ Category.name }}</a></li>
                                                {% endfor %}
                                            </ol>
                                        {% endfor %}
                                    </div>

                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                    <div id="favorite_list__pagination" class="paging">
                        {% include "pagination.twig" with {'pages': pagination.paginationData} %}
                    </div>
                {% else %}
                    <p id="favorite_list__not_found_message" class="intro">ストリーミング動画が登録されていません。</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block modal %}
    <div class="modal fade" id="mymodel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
        <div class="modal-dialog" role="document" style="width: 800px;">
            <div class="modal-content" style="background-color: white !important;">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">クラフトノート</h4>
                </div>
                <div class="modal-body">
                    <div class="item_photo" style="width: 320px; height: 320px;float: left;">
                        <img src="" id="modal-image"/>
                    </div>
                    <div style="margin-right: 100px;float: right;margin-bottom: 30px;margin-top: 20px;" id="hd_button" href='{{ url('mypage_video') }}' product_id="">
                        <a><button class="btn btn-primary btn-lg" style="width: 250px; height: 60px;">HD画質で再生</button></a>
                    </div>
                    <div style="margin-right: 100px;float: right;margin-bottom: 30px;" id="sd_button" product_id="">
                        <a><button class="btn btn-primary btn-lg"  style="width: 250px; height: 60px;">SD画質で再生</button></a>
                    </div>
                    <div style="margin-right: 100px;float: right;margin-bottom: 30px;" id="review_button" product_id="">
                        <a><button class="btn btn-primary btn-lg"  style="width: 250px; height: 60px;">レビューする</button></a>
                    </div>
                    <!-- ▼関連カテゴリ▼ -->
                    <div id="relative_category_box" class="relative_cat" style="clear:both;">

                    </div>
                    <!-- ▲関連カテゴリ▲ -->
                </div>
                <div class="modal-footer" style="clear:both;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}