{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% block stylesheet %}
    <link href="http://vjs.zencdn.net/5.19.1/video-js.css" rel="stylesheet">
    <link href="{{ app.config.front_urlpath }}/css/videojs-resolution-switcher.css" rel="stylesheet">

{% endblock stylesheet %}

{% block javascript %}
    <script src="http://vjs.zencdn.net/5.19.1/video.js"></script>
    <script src="{{ app.config.front_urlpath }}/js/videojs-resolution-switcher.js"></script>
    <script>
        // fire up the plugin
        videojs('video', {
            controls: true,
            muted: false,
            plugins: {
                videoJsResolutionSwitcher: {
                    ui: true,
                    default: 'high', // Default resolution [{Number}, 'low', 'high'],
                    dynamicLabel: true // Display dynamic labels or gear symbol
                }
            }
        }, function(){
            var player = this;
            window.player = player;
            player.updateSrc([
                {
                    src: '{{ app.config.user_data_urlpath }}/video/{{ Product.sd_link }}',
                    type: 'video/mp4',
                    label: 'SD',
                    res: 360
                },
                {
                    src: '{{ app.config.user_data_urlpath }}/video/{{ Product.hd_link }}',
                    type: 'video/mp4',
                    label: 'HD',
                    res: 720
                }
            ]);
            player.on('resolutionchange', function(){
                if (player.src().search("hd.mp4") > 0) {
                    $(".vjs-resolution-button-label").text("HD");
                } else {
                    $(".vjs-resolution-button-label").text("SD");
                }
            })
        })
    </script>
    <script>
        $(function () {
           $("#header").hide();
           $("#footer").hide();
        });
    </script>
{% endblock %}

{% block main %}
<div id="video_box">
    <video id="video" class="video-js vjs-default-skin" controls preload="auto" width="680" height="375" poster="{{ app.config.image_save_urlpath }}/{{ Product.main_list_image|no_image_product }}" data-setup="{}">
    </video>
</div>
{% endblock %}

